body 
{
background-color: #536693;
font-family: arial narrow;

}

h1
{
	text-align: center;
	color: #AEB9D2;
	text-shadow: 2px 2px #192D5C;
	text-decoration: underline;
	
	
}

p
{
	text-align: center;
	color: #AEB9D2;
		
}